<div class="row">
  <div class="col-xs-12">
    <img [src]="capteur.imagePath" alt="{{ capteur.name }}" class="img-responsive" style="max-height:300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{capteur.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Capteur <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Liste capteurs</a></li>
        <li><a href="#">Éditer capteur</a></li>
        <li><a href="#">Supprimer capteur</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{capteur.description }}
  </div>
</div>